<form [formGroup]="form" (ngSubmit)="search()" class="category-filter">
  <div class="category-filter-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>

      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Digite o nome"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>

      <input
        matInput
        type="text"
        formControlName="description"
        placeholder="Digite a descrição"
        autocomplete="off"
      />
    </mat-form-field>
  </div>

  <div class="filter-actions">
    <button mat-stroked-button type="button" (click)="clear()">
      <mat-icon>backspace</mat-icon>
      Limpar filtros
    </button>

    <button mat-raised-button type="submit">
      <mat-icon>search</mat-icon>
      Pesquisar
    </button>
  </div>
</form>
